footer{
    background-color: white;
    height: 200px;
    width: 100%;
    padding: 2rem;
    color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;

    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        >h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2rem;
            text-transform: uppercase;
            color:#5853ff;
        }
        >p{
            font-size: 1.2rem;
        }
        >h5{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2rem;
            text-align: center;
        }
        >div
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                
                &:hover{
                    filter: invert(1);
            }
        }
        }
    
    }
}